<!DOCTYPE html>
<html>
  <head>
    <!-- attaches Google Universal Analytics -->
    <%= render 'partials/google_analytics' %>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NPNS39J');</script>
    <!-- End Google Tag Manager -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <!-- This is the title shown in your browser's title bar -->
    <title>Advancing Innovative Minds</title>
    <!-- Update keywords and description to help get picked up by search engines -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="keywords" content="Advancing Innovative Minds, AIM, UNCC AIM, AIM UNCC, aim uncc, unccaim, aimuncc, Charlotte, Entrepreneur, Entrepreneurship" />
    <meta name="description" content="Advancing Innovative Minds (AIM) is UNC Charlotte's most active and dedicated entrepreneurial club. We plan on using the booming development of the Charlotte area as a catalyst to create truly effective ideas that will culminate into thriving businesses." />
    <meta name="viewport" content="width=device-width">
    <link rel="icon" src="favicon.ico"/>
    <% if request.path == '/' || request.path == '/chapters' %>
    <% else %>
      <%= render 'partials/navbar' %>
    <% end %>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NPNS39J"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <%= yield %>
    <%= render 'partials/google_analytics_pageview' %> <!-- Google Universal Analytics -->
  </body>
  <% if !(request.path == '/' || request.path == '/chapters') %>
    <%= render 'partials/footer' %>
  <% end %>
</html>
