<!DOCTYPE html>
<html>
  <head>
    <!-- attaches Google Universal Analytics -->
    <%= render 'partials/google_analytics' %>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <!-- This is the title shown in your browser's title bar -->
    <title>Advancing Innovative Minds</title>
    <!-- Update keywords and description to help get picked up by search engines -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="keywords" content="Advancing Innovative Minds, AIM, UNCC AIM, AIM UNCC, aim uncc, unccaim, aimuncc, Charlotte, Entrepreneur, Entrepreneurship" />
    <meta name="description" content="Advancing Innovative Minds (AIM) is UNC Charlotte's most active and dedicated entrepreneurial club. We plan on using the booming development of the Charlotte area as a catalyst to create truly effective ideas that will culminate into thriving businesses." />
    <meta name="viewport" content="width=device-width">
    <link rel="icon" src="favicon.ico"/>
    <% if !(request.path == '/' || request.path == '/chapters') %>
      <%= render 'partials/navbar' %>
    <% end %>
  </head>
  <body>
    <%= yield %>
    <%= render 'partials/google_analytics_pageview' %> <!-- Google Universal Analytics -->
  </body>
  <% if !(request.path == '/' || request.path == '/chapters') %>
    <%= render 'partials/footer' %>
  <% end %>
</html>
