<!DOCTYPE html>
<html>
  <head>
    <title>Aim</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= link_to 'Sign In', '/auth/linkedin' %>
    <nav>
        CHAPTER IN SESSIONS =
      <%= chapter_in_sessions? %>
        CURRENT MEMBER =
      <%= session[:member_id] %>
      <% if member_can_create? %>
        CAN CREATE
      <% end %>
      <% if member_can_delete? %>
        CAN DELETE
      <% end %>
      <% if member_can_edit? %>
        CAN EDIT
      <% end %>
      <% if !@member.nil? %>
        <% if @member.role == 'webmaster' %>
          <%= link_to 'Create a Chapter', new_chapter_path %>
          WEBMASTER
        <% end %>
        <% if @member.role == 'admin' %>
          ADMIN
        <% end %>
        <% if @member.role == 'editor' %>
          EDITOR
        <% end %>
        <% if @member.role == 'editor' %>
          GENERAL
        <% end %>
      <% end %>
      <% if logged_in? %>
        LOGGED IN
      <% end %>
      <% if logged_in? %>
        <%= link_to 'Log Out', logout_path, method: 'delete' %>
      <% else %>
        <%= link_to 'Sign Up', new_member_path %>
        <%= link_to 'Log In', login_path %>
      <% end %>
    </nav>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
